/*style.css*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR',sans-serif;
    background-color: #dcdcdc;
}

.card{
    width: 400px;
    background-color: rgb(255, 255, 255);
    height: 610px;
    display: inline-block;
    box-shadow: 2px 4px 8px rgba(0, 0,0, 0.16);
    margin-right: 40px;
}
.card:last-child{
    margin-right: 0;
}

.card h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card p{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 20px;
    line-height: 26px;
}
.link_btn{
    display: block;
    border: 1px solid #707070;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    color: #707070;
}
.card > .info{
    padding: 15px 20px 10px 20px;
}
.link_btn:hover{
    color: white;
    background-color: black;
    font-weight: bold;
}
img{
    width: 400px;
    height: 381px;
}
section{
    
    width: 1288px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    /*  수평 중앙 정렬 = 50% - 크기 1/2  */
    left: 50%;
    margin-left: calc(-1288px / 2);
    /*  수직 중앙 정렬*/
    top: 50%;
    margin-top: calc(-610px / 2);
    
}